bqm_drip_workflow.json
{
  "name": "BLKOUT NXT Black Queer Men Drip Campaign",
  "nodes": [
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "readRows",
        "documentId": "1EDTTmhBGiZdhKuLwCQLDduRuIE2oQmXfeJvoiowU4bs",
        "sheetName": "Community Members",
        "range": "A:J",
        "options": {
          "valueRenderMode": "FORMATTED_VALUE",
          "valueInputOption": "USER_ENTERED"
        }
      },
      "name": "Get BQM Members",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -400,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Filter for Black Queer Men in the drip campaign\nconst members = $input.all()[0].json;\nconst today = new Date().toISOString().split('T')[0];\n\n// Filter for members in the BQM drip campaign who are due for next email\nconst eligibleMembers = members.filter(member => {\n  // Check if they're a Black Queer Man\n  const isBQM = (member.Role || '').toLowerCase().includes('black queer man');\n  \n  // Check if they've completed the survey\n  const hasCompletedSurvey = (member.OnboardingStatus || '').includes('Survey Completed');\n  \n  // Check if they're in the BQM drip campaign\n  const notes = member.Notes || '';\n  const inDripCampaign = notes.includes('DripCampaign: BQM');\n  \n  // Extract drip stage\n  let dripStage = -1;\n  if (inDripCampaign) {\n    const stageMatch = notes.match(/DripStage:\\s*(\\d+)/);\n    if (stageMatch && stageMatch[1]) {\n      dripStage = parseInt(stageMatch[1], 10);\n    }\n  }\n  \n  // Extract next drip date\n  let nextDripDate = null;\n  if (inDripCampaign) {\n    const dateMatch = notes.match(/NextDripDate:\\s*(\\d{4}-\\d{2}-\\d{2})/);\n    if (dateMatch && dateMatch[1]) {\n      nextDripDate = dateMatch[1];\n    }\n  }\n  \n  // Check if today is on or after the next drip date\n  const isDue = nextDripDate && today >= nextDripDate;\n  \n  // If they're not in the drip campaign yet but have completed the survey, add them\n  if (isBQM && hasCompletedSurvey && !inDripCampaign) {\n    return true;\n  }\n  \n  // If they're in the drip campaign and due for next email, include them\n  return isBQM && inDripCampaign && isDue && dripStage >= 0 && dripStage < 5; // We have 5 emails in the drip campaign\n});\n\nconsole.log(`Found ${eligibleMembers.length} Black Queer Men due for drip emails`);\n\n// Process each eligible member\nreturn eligibleMembers.map(member => {\n  // Extract current drip stage\n  const notes = member.Notes || '';\n  let dripStage = 0;\n  const inDripCampaign = notes.includes('DripCampaign: BQM');\n  \n  if (inDripCampaign) {\n    const stageMatch = notes.match(/DripStage:\\s*(\\d+)/);\n    if (stageMatch && stageMatch[1]) {\n      dripStage = parseInt(stageMatch[1], 10);\n    }\n  }\n  \n  return {\n    json: {\n      ...member,\n      firstName: member.FirstName || 'Community Member',\n      dripStage: dripStage,\n      nextDripStage: dripStage + 1,\n      nextDripDate: new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).toISOString().split('T')[0], // 7 days from now\n      dripCampaign: 'BQM'\n    }\n  };\n});"
      },
      "name": "Filter for Drip Eligibility",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.dripStage }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "name": "Route by Drip Stage",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "nxt@blkouthub.org",
        "toEmail": "={{ $json.Email }}",
        "subject": "BLKOUT NXT - Community Resources: Connecting with Others",
        "text": "=Dear {{ $json.firstName }},\n\nThank you for being part of the BLKOUT NXT community! We're excited to share resources specifically curated for Black Queer Men in our network.\n\nThis first email focuses on connecting with others in the community:\n\n1. Upcoming Community Events: https://example.com/bqm-events\n2. Online Discussion Forums: https://example.com/bqm-forums\n3. Local Support Groups: https://example.com/bqm-support-groups\n\nWe'll send you more specialized resources over the coming weeks. If you have specific questions or are looking for particular resources, feel free to reply to this email.\n\nBest regards,\nThe BLKOUT NXT Team",
        "options": {}
      },
      "name": "Send Drip Email 1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        200,
        100
      ]
    },
    {
      "parameters": {
        "fromEmail": "nxt@blkouthub.org",
        "toEmail": "={{ $json.Email }}",
        "subject": "BLKOUT NXT - Community Resources: Health and Wellbeing",
        "text": "=Dear {{ $json.firstName }},\n\nWe hope you found our first set of resources helpful! This week, we're focusing on health and wellbeing resources specifically for Black Queer Men.\n\nKey Resources:\n1. Healthcare Providers Directory: https://example.com/bqm-healthcare\n2. Mental Health Resources: https://example.com/bqm-mental-health\n3. Sexual Health Information: https://example.com/bqm-sexual-health\n\nYour health and wellbeing are important to us. If you need help finding specific resources in your area, please reply to this email.\n\nBest regards,\nThe BLKOUT NXT Team",
        "options": {}
      },
      "name": "Send Drip Email 2",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        200,
        240
      ]
    },
    {
      "parameters": {
        "fromEmail": "nxt@blkouthub.org",
        "toEmail": "={{ $json.Email }}",
        "subject": "BLKOUT NXT - Community Resources: Arts and Culture",
        "text": "=Dear {{ $json.firstName }},\n\nWe're back with more resources! This week's focus is on arts and culture by and for Black Queer Men.\n\nKey Resources:\n1. Black Queer Artists to Follow: https://example.com/bqm-artists\n2. Books and Literature: https://example.com/bqm-literature\n3. Films and Documentaries: https://example.com/bqm-films\n\nArt and culture help us connect with our identities and communities. We'd love to hear about your favorite Black Queer artists and creators!\n\nBest regards,\nThe BLKOUT NXT Team",
        "options": {}
      },
      "name": "Send Drip Email 3",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        200,
        380
      ]
    },
    {
      "parameters": {
        "fromEmail": "nxt@blkouthub.org",
        "toEmail": "={{ $json.Email }}",
        "subject": "BLKOUT NXT - Community Resources: Professional Development",
        "text": "=Dear {{ $json.firstName }},\n\nThis week, we're focusing on professional development resources for Black Queer Men.\n\nKey Resources:\n1. Networking Opportunities: https://example.com/bqm-networking\n2. Mentorship Programs: https://example.com/bqm-mentorship\n3. Career Development Resources: https://example.com/bqm-careers\n\nBuilding professional connections within the community can be invaluable for career growth and support. If you're interested in specific industries or fields, let us know so we can connect you with relevant resources.\n\nBest regards,\nThe BLKOUT NXT Team",
        "options": {}
      },
      "name": "Send Drip Email 4",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        200,
        520
      ]
    },
    {
      "parameters": {
        "fromEmail": "nxt@blkouthub.org",
        "toEmail": "={{ $json.Email }}",
        "subject": "BLKOUT NXT - Community Resources: Getting Involved",
        "text": "=Dear {{ $json.firstName }},\n\nThis is the final email in our resource series for Black Queer Men. We're focusing on ways to get more involved with the BLKOUT NXT community.\n\nKey Resources:\n1. Volunteer Opportunities: https://example.com/bqm-volunteer\n2. Leadership Programs: https://example.com/bqm-leadership\n3. Community Initiatives: https://example.com/bqm-initiatives\n\nWe hope these resources have been helpful! You're now part of our community network, and we'll reach out periodically with specific opportunities and updates.\n\nIf you'd like to get more involved or have ideas for the community, please reply to this email.\n\nBest regards,\nThe BLKOUT NXT Team",
        "options": {}
      },
      "name": "Send Drip Email 5",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        200,
        660
      ]
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "operation": "updateRow",
        "documentId": "1EDTTmhBGiZdhKuLwCQLDduRuIE2oQmXfeJvoiowU4bs",
        "sheetName": "Community Members",
        "range": "A:J",
        "keyRow": "Email",
        "keyValue": "={{ $json.Email }}",
        "options": {
          "valueInputOption": "USER_ENTERED"
        },
        "dataMode": "define",
        "fieldsUi": {
          "values": [
            {
              "column": "LastEmailSent",
              "value": "={{ $now.format(\"YYYY-MM-DD\") }}"
            },
            {
              "column": "EmailHistory",
              "value": "={{ ($json.EmailHistory ? $json.EmailHistory + \", BQM Drip \" + ($json.nextDripStage) : \"BQM Drip \" + ($json.nextDripStage)) }}"
            },
            {
              "column": "Notes",
              "value": "={{ $json.Notes ? ($json.Notes.includes(\"DripCampaign: BQM\") ? $json.Notes.replace(/DripStage:\\s*\\d+/, \"DripStage: \" + $json.nextDripStage).replace(/NextDripDate:\\s*\\d{4}-\\d{2}-\\d{2}/, \"NextDripDate: \" + $json.nextDripDate) : $json.Notes + \"; DripCampaign: BQM; DripStage: \" + $json.nextDripStage + \"; NextDripDate: \" + $json.nextDripDate) : \"DripCampaign: BQM; DripStage: \" + $json.nextDripStage + \"; NextDripDate: \" + $json.nextDripDate }}"
            }
          ]
        }
      },
      "name": "Update Drip Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        400,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1,
              "unit": "days"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        300
      ]
    }
  ],
  "connections": {
    "Get BQM Members": {
      "main": [
        [
          {
            "node": "Filter for Drip Eligibility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for Drip Eligibility": {
      "main": [
        [
          {
            "node": "Route by Drip Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Drip Stage": {
      "main": [
        [
          {
            "node": "Send Drip Email 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Drip Email 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Drip Email 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Drip Email 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Drip Email 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Drip Email 1": {
      "main": [
        [
          {
            "node": "Update Drip Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Drip Email 2": {
      "main": [
        [
          {
            "node": "Update Drip Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Drip Email 3": {
      "main": [
        [
          {
            "node": "Update Drip Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Drip Email 4": {
      "main": [
        [
          {
            "node": "Update Drip Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Drip Email 5": {
      "main": [
        [
          {
            "node": "Update Drip Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get BQM Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
